#IntelliJ IDEA
.idea/*
!.idea/vcs.xml
!.idea/copyright
!.idea/runConfigurations/*
*.iml

# Gradle
.gradle
.gradletasknamecache
.kotlin
build
out
target
local.properties

# Junie
.junie/*

# Common
*~
*.bak
.DS_Store
.DS_Store?
._*